﻿#header {
  height: 90px;
  overflow: hidden;
  border-bottom: solid 1px #C6CACD;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(49, 49, 64, 0.1);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color:white;
}

#logIn {
  display: none;
  padding: 20px;
}

#loggedIn {
  display: none;
}

.add-form {
  margin: 10px;
}

.subm {
  margin-right: 10px;
}

#pairs-table {
  margin: 90px 0 0 0;
}

#pairs-table td {
  padding: 10px;
  font-size: large;
  max-width: 100px;
  word-wrap: break-word;
}

#pairs-table thead {
  background-color:white;
}

.word1 {
  color: blue;
}

.word2 {
  color: red;
}

